include README.rst
include HISTORY.rst
include CONTRIBUTING.rst
include LICENSE
include CONTRIBUTORS
include setup.cfg
include setup.py
include requirements-dev.txt
include readthedocs.yml
include tox.ini

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include markus *.py
recursive-include tests *.py
