[tool.ruff]
# Enable pycodestyle (E), pyflakes (F), and bugbear (B) rules
select = ["E", "F", "B"]

# Ignore line length violations--Black handles those
line-length = 88
ignore = ["E501"]

target-version = "py38"

src = ["src"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"


[tool.black]
line-length = 88
target-version = ["py38"]


[tool.pytest.ini_options]
filterwarnings = [
    "error",
    # datadog kicks up a DeprecationWarning for collections use.
    "ignore:.*ABCs:DeprecationWarning",
]


[tool.tox]
legacy_tox_ini = """
[tox]
envlist =
    py38
    py38-lint
    py39
    py310
    py311
    py312

[gh-actions]
python =
    3.8: py38
    3.9: py39
    3.10: py310
    3.11: py311
    3.12: py312

[testenv]
deps = -rrequirements-dev.txt
extras = datadog,statsd
commands =
    pytest {posargs} tests/
    pytest --doctest-modules --pyargs markus

[testenv:py38-lint]
basepython = python3.8
changedir = {toxinidir}
commands = 
    black --check src setup.py tests
    ruff src setup.py tests
"""
